@import "tailwindcss";
button{
  background-color: transparent;
  color: #849594;
}
*{
  font-family: 'Alice', serif;
  color: black;
}
h2{
  color:#849594;
  font-weight: 600;
}

.footer{
border-top: 1px solid #849594;
}

.expBox{
  border-radius: 10px;
  border: 1px solid #849594;
  padding: 10px;

}

.experience1, .experience3, .experience5{
  background-color: #84959480;

}
h3{
  font-weight: bold;
}